body {
    padding-bottom: 40px;
    padding-top: 60px;
}
.sidebar-nav {
    padding: 9px 0;
}
.forbidden {
    text-align: center;
}
.inline {
	display : inline;
}

.box {
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    margin-bottom: 10px;
    margin-top: 0px;
}
.box-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #DEDEDE;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    cursor: move;
    font-size: 16px;
    font-weight: bold;
    height: 12px;
    margin-bottom: 0;
    min-height: 12px;
    padding-top: 5px;
}
.box-header h2 {
    clear: none;
    float: left;
    font-size: 15px;
    line-height: 25px;
    width: auto;
    margin-top: 0;
}
.box-header h3 {
    clear: none;
    float: left;
    font-size: 13px;
    line-height: 25px;
    width: auto;
    margin-top: 0;
}
.box-header h2 > i {
    margin-top: 1px;
}
.box-icon {
    float: right;
}
.box-icon a {
    clear: none;
    float: left;
    height: 18px;
    margin: -1px 2px 0;
    width: 5px;
}
.box-icon a i {
    margin-left: -4.5px;
}
.box-content {
    padding: 10px;
}


.longword{
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
	width : 100%;
}
#logTable td{
	padding:2px;
}
#logTable td.center{
	text-align: center;
}
#logTable th.center{
	text-align: center;
}

.LOG{}
.DEBUG{}
.INFO{}
.WARN{
	background-color: orange;
}
.ERROR{
	background-color: red;
}
.FATAL{
	background-color: black;
	color: white;
}
.toolbar{
	margin:9px 0;
}
#loadingText{
	text-align: center;
}
.table .center{
	text-align : center;
}
.ajaxDialogLoading{
	text-align:center;
}
.ajaxDialogLoadError{
	text-align:center;
	color:red;
}
.box-header p {
    clear: none;
    float: left;
    font-size: 12px;
    line-height: 25px;
    width: auto;
    margin-top: 0;
}

.HANDLE{
	color:rgb(0, 126, 0);
}
.REVIEW{color:#FA0;}
.REDO{color:#F00;}
.ROLLBACK{color:#F00;}
.BREAK{color:rgb(182, 182, 182);background:rgb(240, 240, 240);}


.PENDING{
	background:rgb(255, 235, 207);
}
.RUNNING,.HANDLING{
	background:#dfd;
	font-weight:bold;
}
.FINISHED{
	background:rgb(214, 236, 179);
}

/*
 * jQuery File Upload UI Plugin CSS 7.4
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
}


.prettybadge{  
    background-color: #f00;  
    background-image: -webkit-linear-gradient(top, #f00, #600); /* Chrome 10+, Saf5.1+, iOS 5+ */  
    background-image:    -moz-linear-gradient(top, #f00, #600); /* FF3.6+ */  
    background-image:     -ms-linear-gradient(top, #f00, #600); /* IE10 */  
    background-image:      -o-linear-gradient(top, #f00, #600); /* Opera 11.10+ */    
    color:#fff;  
    font-family:Verdana;  
    font-weight:normal;  
    padding:0px 5px 2px 6px;  
    border:2px solid #fff;  
    border-radius:15px;  
    /*position:absolute;  
    margin-top:-20px;  
    margin-left:-10px;  */
    margin-left:6px;
    margin-top:-5px;
    box-shadow: 0 2px 3px 0px rgba(0,0,0,1);  
    text-shadow: -1px -1px 0 #000;  
}  

/* 20140417 zhangyun.m  begin*/
.control-group{
	float:left;
}
.input-small{
	width:100px;
}

.showpager{
	height:40px;  
}

.ui-widget-content td{
		font-size: 13px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#listcontent{
    padding: 0px;
}

form{
    margin: 0px;
}
/* 20140417 zhangyun.m  end*/

.td-title{
	font-weight: bold;
	background-color: #F9F9F9;
}

.td-title-right{
	text-align: right !important;
	font-weight: bold;
	background-color: #F9F9F9;
}

.table-blank{
	border: none;
}
.table-blank th{
	border: none;
	margin: 0px;
	padding: 2px;
}
.table-blank td{
	border: none;
	margin: 0px;
	padding: 2px;
}
