
.node {
    width: 70px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
}

.mover {
    border: 1px solid #ddd;
    background-color: #ddd;
}

.selected {
    background-color: #ddd;
}

.state {

}

#myflow_props table {

}

#myflow_props th {
    letter-spacing: 2px;
    text-align: left;
    padding: 6px;
    background: #ddd;
}

#myflow_props td {
    background: #fff;
    padding: 6px;
}

#pointer {
    background-repeat: no-repeat;
    background-position: center;
}

#path {
    background-repeat: no-repeat;
    background-position: center;
}

#task {
    background-repeat: no-repeat;
    background-position: center;
}

#state {
    background-repeat: no-repeat;
    background-position: center;
}
